{% extends 'index.html' %}
{% load i18n %}
{% block content %}

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ signal.display_name }}
                        <span class="badge rounded-pill text-bg-primary">{{ signal.source.name }}</span>
                    </h5>
                    <hr class="no-margin" />
                    <div class="row">
                        <div class="col-9">
                            <p class="margin-top-1rem margin-bottom-0 overview" id="overview">
                                {{ signal.description|safe|truncatechars:300 }}
                            </p>
                            <p class="margin-top-1rem margin-bottom-0 full-text" id="full-text">
                                {{ signal.description|safe }}
                            </p>
                            {% if signal.description|length > 300 %}
                            <a href="#" onclick="readMore(this);">Read more <i class="bi bi-arrow-bar-down"></i></a>
                            {% endif %}
                        </div>
                        <div class="col-3 border-left">
                            <p class="margin-top-1rem margin-bottom-0">
                                Last Updated:
                            </p>
                            {% if signal.last_updated %}
                            <h5>{{ signal.last_updated }}</h5>
                            {% else %}
                            <h5>Not available</h5>
                            {% endif %}
                            <p class="margin-bottom-0">Data Provided By:</p>
                            <h5>{{signal.source.data_source.display_name}} ({{ signal.source.name }})</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h5>About this signal</h5>
    <section class="section signal">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row margin-top-1rem">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Data Source</th>
                                    <td>{{ signal.source.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Signal Name</th>
                                    <td>{{ signal.name }}</td>
                                </tr>
                                {% if signal.short_description %}
                                <tr>
                                    <th scope="row">Short Description</th>
                                    <td>{{ signal.short_description }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">Pathogen</th>
                                    <td>
                                        <ul class="no-padding">
                                            {% for pathogen in signal.pathogen.all %}
                                            <a href="{% url 'signals' %}?pathogen={{ pathogen.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ pathogen|title }}
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Geographic Granularity, aka Geo-Level</th>
                                    <td>
                                        <ul class="no-padding">
                                            {% for geography in signal.geography_signals.all %}
                                            <a href="{% url 'signals' %}?available_geography={{ geography.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ geography.display_name }}
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Signal Type</th>
                                    <td>
                                        <ul class="no-padding">
                                            <a href="{% url 'signals' %}?signal_type={{ signal.signal_type.id }}">
                                                <span class="badge rounded-pill bg-dark">
                                                    {{ signal.signal_type }}
                                                </span>
                                            </a>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scopr="row">Reporting Cadence</th>
                                    <td>{{ signal.reporting_cadence|capfirst }}</td>
                                </tr>
                                <tr>
                                    <th scopr="row">Typiacl Revision Cadence</th>
                                    <td>{{ signal.typical_revision_cadence }}</td>
                                </tr>
                                <tr>
                                    <th scopr="row">Typiacl Reporting Lag</th>
                                    <td>{{ signal.typical_reporting_lag }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Format</th>
                                    <td>{{ signal.format_type|title }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal Resolution</th>
                                    <td>{{ signal.time_label|title }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Smoothing</th>
                                    <td>
                                        {% if signal.is_smoothed %}
                                        <span class="badge rounded-pill bg-success">Yes</span>
                                        {% else %}
                                        <span class="badge rounded-pill bg-danger">No</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Cumulative</th>
                                    <td>
                                        {% if signal.is_cumulative %}
                                        <span class="badge rounded-pill bg-success">Yes</span>
                                        {% else %}
                                        <span class="badge rounded-pill bg-danger">No</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Standard Error</th>
                                    <td>
                                        {% if signal.has_stderr %}
                                        <span class="badge rounded-pill bg-success">Yes</span>
                                        {% else %}
                                        <span class="badge rounded-pill bg-danger">No</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Sample Size</th>
                                    <td>
                                        {% if signal.has_sample_size %}
                                        <span class="badge rounded-pill bg-success">Yes</span>
                                        {% else %}
                                        <span class="badge rounded-pill bg-danger">No</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal Scope Start</th>
                                    <td>
                                        {{ signal.temporal_scope_start }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Temporal Scope End</th>
                                    <td>
                                        {{ signal.temporal_scope_end }}
                                    </td>
                                </tr>
                                {% if signal.last_updated %}
                                <tr>
                                    <th scope="row">Last Updated</th>
                                    <td>
                                        {{ signal.last_updated }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if signal.signal_availability_days %}
                                <tr>
                                    <th scope="row">Available For</th>
                                    <td>
                                        {{ signal.signal_availability_days }} day{{ signal.signal_availability_days|pluralize:"s" }}
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if signal.base %}
    <h5>Signals with same base</h5>
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body table-responsive" data-fl-scrolls='{"orientation": "horizontal"}'>
                    <table class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Ongoing</th>
                                <th scope="col">Data Source</th>
                                <th scope="col">Description</th>
                                <th scope="col">Geographic Scope</th>
                                <th scope="col">Geographic Granularity, aka Geo-Level</th>
                                <th scope="col">Available Since</th>
                                <th scope="col">Available Until</th>
                                <th scope="col">Temporal Granularity</th>
                                <th scope="col">Reporting Cadence</th>
                                <th scope="col">Reporting Lag(nominal)</th>
                                <th scope="col">Revision Cadence</th>
                                <th scope="col">Demographic Scope</th>
                                <!--<th scope="col">Demographic Disaggregation</th> -->
                                <th scope="col">Pathogen / Syndrome</th>
                                <th scope="col">Severity Pyramid Rungs</th>
                                <th scope="col">Missingness</th>
                                <th scope="col">License / Data Use Restrictions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for signal in signal.same_base_signals %}
                            <tr>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.display_name }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {% if signal.active == True%}
                                    <i class="fas fa-circle" style="color: green;"></i>
                                    {% else %}
                                    <i class="fas fa-circle" style="color:red;"></i>
                                    {% endif %}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.source.external_name }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.description }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.geographic_scope.name }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {% for geography in signal.geography_signals.all %}
                                    <span class="badge rounded-pill bg-dark">
                                        {{ geography.display_name }}
                                    </span>
                                    {% endfor %}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.temporal_scope_start }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.temporal_scope_end }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.time_type }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.reporting_cadence }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.typical_reporting_lag }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.typical_revision_cadence }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {% for demographic_scope in signal.demographic_scope.all %}
                                    <span>
                                        {{ demographic_scope }}
                                    </span>
                                    {% endfor %}
                                </td>
                                <!-- <td class="clickable-table-cell" onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                                Place for Demographic Disaggregation
                                            </td> -->
                                <td cla ss="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {% for pathogen in signal.pathogen.all %}
                                    <span class="badge rounded-pill bg-dark">
                                        {{ pathogen|title }}
                                    </span>
                                    {% endfor %}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.severity_pyramid_rungs }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.missingness }}
                                </td>
                                <td class="clickable-table-cell"
                                    onClick="location.href='{% url 'signal' pk=signal.id %}';">
                                    {{ signal.license }}
                                    <br>
                                    {{ signal.restrictions }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% include "signals/data_visualization_export.html"%}
    <h5>Related links</h5>
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body padding-top-1rem">
                    <div class="row">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Link Type</th>
                                    <th scope="col">Link Description</th>
                                    <th scope="col">URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for link in signal.links.all %}
                                {% if link.link_type != 'example_url' %}
                                <tr>
                                    <td>
                                        {{ link.get_link_type_display }}
                                    </td>
                                    <td>{{ link.get_preview.description }}</td>
                                    <td>
                                        <a href="{{ link.url }}">{{ link.url|truncatechars:100 }}</a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        if (!library)
            var library = {};

        library.json = {
            replacer: function (match, pIndent, pKey, pVal, pEnd) {
                var key = '<span class=json-key>';
                var val = '<span class=json-value>';
                var str = '<span class=json-string>';
                var r = pIndent || '';
                if (pKey)
                    r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
                if (pVal)
                    r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
                return r + (pEnd || '');
            },
            prettyPrint: function (obj) {
                var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
                return JSON.stringify(obj, null, 3)
                    .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
                    .replace(/</g, '&lt;').replace(/>/g, '&gt;')
                    .replace(jsonLine, library.json.replacer);
            }
        };

        function readMore(button) {
            var truncatedText = document.querySelector(".overview");
            var fullText = document.querySelector(".full-text");

            if (truncatedText.style.display === "none") {
                truncatedText.style.display = "block";
                fullText.style.display = "none";
                button.innerHTML = 'Read more <i class="bi bi-arrow-bar-down"></i>';
            } else {
                truncatedText.style.display = "none";
                fullText.style.display = "block";
                button.innerHTML = 'Read less <i class="bi bi-arrow-bar-up"></i>';
            }
        }
    </script>
</main>

{% endblock %}
