{% extends 'index.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<form method="GET" id="filters-form">
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card">
                    <div class="form-group">
                        <br />
                        <div class="card-body">
                            <h5 class="card-title">Search</h5>
                            <div class="input-group">
                                <input class="form-control border" type="search" name="{{ filter.form.search.name }}" id="example-search-input"
                                    placeholder="Search" title="Enter search keyword"
                                >
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="pathogen-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pathogen-collapse" aria-expanded="true" aria-controls="pathogen-collapse">
                                    <label for="id_pathogen" class="form-label">
                                        Pathogen
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#pathogen_modal">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </label>
                                </button>
                              </h2>
                              {% if form.pathogen.value %}
                                <div id="pathogen-collapse" class="accordion-collapse" aria-labelledby="pathogen-heading">
                              {% else %}
                                <div id="pathogen-collapse" class="accordion-collapse collapse" aria-labelledby="pathogen-heading">
                              {% endif %}
                                <div class="accordion-body">
                                    <div id="div_id_pathogen" class="mb-3">
                                        <div>
                                            {{ form.pathogen|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="active-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#active-collapse" aria-expanded="false" aria-controls="active-collapse">
                                    <label for="id_active" class="form-label">
                                        Active
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#active_modal">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </label>
                                </button>
                              </h2>
                              {% if form.active.value %}
                                <div id="active-collapse" class="accordion-collapse" aria-labelledby="active-heading">
                              {% else %}
                                <div id="active-collapse" class="accordion-collapse collapse" aria-labelledby="active-heading">
                              {% endif %}
                                <div class="accordion-body">
                                    {{ form.active|as_crispy_field }}
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="available_geography-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#available_geography-collapse" aria-expanded="false" aria-controls="active-collapse">
                                    <label for="id_available_geography" class="form-label">
                                        Available Geography
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#available_geography_modal">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </label>
                                </button>
                              </h2>
                              {% if form.available_geography.value %}
                                <div id="available_geography-collapse" class="accordion-collapse" aria-labelledby="available_geography-heading">
                              {% else %}
                                <div id="available_geography-collapse" class="accordion-collapse collapse" aria-labelledby="available_geography-heading">
                              {% endif %}
                                <div class="accordion-body">
                                    <div class="bulk-select">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label for="select-all">Select all</label>
                                    </div>
                                    {{ form.available_geography|as_crispy_field }}
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="available_geography-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#signal_type-collapse" aria-expanded="false" aria-controls="active-collapse">
                                    <label for="id_signal_type" class="form-label">
                                        Signal Type
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#signal_type_modal">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </label>
                                </button>
                              </h2>
                              {% if form.signal_type.value %}
                                <div id="signal_type-collapse" class="accordion-collapse" aria-labelledby="signal_type-heading">
                              {% else %}
                                <div id="signal_type-collapse" class="accordion-collapse collapse" aria-labelledby="signal_type-heading">
                              {% endif %}
                                <div class="accordion-body">
                                    <div class="bulk-select">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label for="select-all">Select all</label>
                                    </div>
                                    {{ form.signal_type|as_crispy_field }}
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="available_geography-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#category-collapse" aria-expanded="false" aria-controls="active-collapse">
                                    <label for="id_category" class="form-label">
                                        Category
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#category_modal">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </label>
                                </button>
                              </h2>
                              {% if form.category.value %}
                                <div id="category-collapse" class="accordion-collapse" aria-labelledby="category-heading">
                              {% else %}
                                <div id="category-collapse" class="accordion-collapse collapse" aria-labelledby="category-heading">
                              {% endif %}
                                <div class="accordion-body">
                                    <div class="bulk-select">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label for="select-all">Select all</label>
                                    </div>
                                    {{ form.category|as_crispy_field }}
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="available_geography-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#format_type-collapse" aria-expanded="false" aria-controls="active-collapse">
                                    <label for="id_format_type" class="form-label">
                                        Format Type
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#format_type_modal">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </label>
                                </button>
                              </h2>
                              {% if form.format_type.value %}
                                <div id="format_type-collapse" class="accordion-collapse" aria-labelledby="format_type-heading">
                              {% else %}
                                <div id="format_type-collapse" class="accordion-collapse collapse" aria-labelledby="format_type-heading">
                              {% endif %}
                                <div class="accordion-body">
                                    <div class="bulk-select">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label for="select-all">Select all</label>
                                    </div>
                                    {{ form.format_type|as_crispy_field }}
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="available_geography-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#source-collapse" aria-expanded="false" aria-controls="active-collapse">
                                    <label for="id_source" class="form-label">
                                        Source
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#source_modal">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </label>
                                </button>
                              </h2>
                              {% if form.source.value %}
                                <div id="source-collapse" class="accordion-collapse" aria-labelledby="source-heading">
                              {% else %}
                                <div id="source-collapse" class="accordion-collapse collapse" aria-labelledby="source-heading">
                              {% endif %}
                                <div class="accordion-body">
                                    <div class="bulk-select">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <label for="select-all">Select all</label>
                                    </div>
                                    {{ form.source|as_crispy_field }}
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="available_geography-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#time_label-collapse" aria-expanded="false" aria-controls="active-collapse">
                                    <label for="id_time_label" class="form-label">
                                        Time Label
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#time_label_modal">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </label>
                                </button>
                              </h2>
                                {% if form.time_label.value %}
                                  <div id="time_label-collapse" class="accordion-collapse" aria-labelledby="time_label-heading">
                                {% else %}
                                  <div id="time_label-collapse" class="accordion-collapse collapse" aria-labelledby="time_label-heading">
                                {% endif %}
                                <div class="accordion-body">
                                    {{ form.time_label|as_crispy_field }}
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-grid gap-2 mt-3">
                                <button id="filter-submit" type="submit" class="btn btn-primary">{% trans 'Apply Filters' %}</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row margin-bottom-1rem d-flex justify-content-end">
                <!-- <div class="col-4">
                    <div class="btn-group" role="group">
                        <a href="https://delphi.cmu.edu/covidcast/export/" target="_blank" class="btn btn-primary" role="button">Export</a>
                        <a href="https://delphi.cmu.edu/epivis/" target="_blank" class="btn btn-primary" role="button">Chart</a>
                    </div>
                </div> -->
                <div class="col-4">
                    <div class="input-group mb-3 d-flex justify-content-end">
                        <label class="input-group-text form-label" for="id_order_by" id="order_by_label">Sort By</label>
                        {{ form.order_by|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card signals-list-card no-padding">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Data Source</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Pathogen/Disease Area</th>
                                    <th scope="col">Base Signal</th>
                                    <th scope="col">Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for signal in signals %}
                                    <tr classs="clickable-table-row">
                                        <td>
                                            <input type="checkbox" name="id" value="{{ signal.id }}">
                                            {{ form.id|as_crispy_field }}
                                        </td>
                                        <td onClick="location.href='{% url 'signal' pk=signal.id %}';" class="clickable-table-cell">{{ signal.display_name }}</td>
                                        {% if signal.active == True %}
                                        <td><i class="bi bi-circle-fill" style="color:green;" ></i></td>
                                        {% else %}
                                            <td><i class="bi bi-circle-fill" style="color:red;" ></i></td>
                                        {% endif %}
                                        <td>{{ signal.source.data_source }}</td>
                                        <td>{{ signal.description }}</td>
                                        <td>
                                            {% for pathogen in signal.pathogen.all %}
                                            <span class="badge rounded-pill bg-dark">{{ pathogen|title }}</span>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if signal.base %}
                                            <a href="{% url 'signal' pk=signal.base.id %}">{{ signal.base.id }}</a>
                                            {% else %}
                                            --/--
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if signal.last_updated %}
                                                {{ signal.last_updated|date:"Y-m-d" }}
                                            {% else %}
                                                --/--
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <div class="modal fade" id="pathogen_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pathogen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.pathogen }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="active_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Active</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.active }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="available_geography_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Available Geography</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.available_geography }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signal_type_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Signal Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.signal_type }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signal_type_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Signal Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.signal_type }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="category_modal" tabindex="-1" style="display: none;"aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.category }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="format_type_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Format Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.format_type }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="source_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Source</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.source }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="time_label_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Time Label</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ filters_descriptions.SignalFilter.time_label }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function showAllOptions(event, parentDiv) {
        event.preventDefault();
        var childDivs = parentDiv.querySelectorAll('.form-check');
        for (i = 5; i < childDivs.length; i++) {
            if (childDivs[i].style.display === 'none') {
                childDivs[i].style.display = 'block';
            } else {
                childDivs[i].style.display = 'none';
            }
        }
        if (event.target.innerText === 'Show more...') {
            event.target.innerText = 'Show less...';
        } else {
            event.target.innerText = 'Show more...';
        }
    }

    // Add an event listener to the 'order_by' select element
    document.getElementById('id_order_by').addEventListener('change', function() {
        document.getElementById('filters-form').submit();
    });


    // Add an event listener to each 'bulk-select' element
    let bulkSelectDivs = document.querySelectorAll('.bulk-select');
    bulkSelectDivs.forEach(div => {
        div.addEventListener('click', function(event) {
            let form = this.nextElementSibling;
            let showMoreLink = form.querySelector('a');
            let checkboxes = form.querySelectorAll('input[type="checkbox"]');

            if (event.target.checked === true) {
                checkboxes.forEach((checkbox, index) => {
                    checkbox.checked = true;
                    if (index > 4) {
                        checkbox.parentElement.style.display = checkbox.parentElement.style.display === 'none' ? 'block' : null;
                    }
                })
                if (showMoreLink) {
                    showMoreLink.innerText = 'Show less...';
                }
            } else if (event.target.checked === false) {
                checkboxes.forEach((checkbox, index) => {
                    checkbox.checked = false
                    if (index > 4) {
                        checkbox.parentElement.style.display = checkbox.parentElement.style.display === 'block' ? 'none' : null;
                    }
                });
                if (showMoreLink) {
                    showMoreLink.innerText = 'Show more...';
                }
            }
        });
    });

</script>

{% endblock %}
