{% extends "index.html" %}


{% load i18n %}
{% load crispy_forms_tags  %}

{% block content %}


<div class="pagetitle">
  <h1>Signals</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'signals' %}">Home</a></li>
      <li class="breadcrumb-item active">Signals</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="d-flex flex-column flex-xl-row gap-4">

    <!-- Left side columns -->
    <div class="col">
      <div class="row">
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <div class="col-12 d-flex justify-content-between">
                <div class="col-6">
                  <h5 class="card-title">Signals</h5>
                </div>
                <div class="col-6  d-flex justify-content-end align-items-center">
                  <a href="#" id="toggle-search-panel-btn">
                    <i class="bi bi-filter-right fs-3"></i>
                  </a>
                </div>
              </div>
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Data Source</th>
                    <th scope="col">Description</th>
                    <th scope="col">Pathogen/Disease Area</th>
                    <th scope="col">Base Signal</th>
                  </tr>
                </thead>
                <tbody>
                  {% for signal in signals %}
                  <tr class="clickable-table-row" onClick="location.href='{% url 'signal' pk=signal.id %}';">
                    <td>{{ signal.display_name }}</td>
                    <td>{{ signal.source }}</td>
                    <td>{{ signal.description }}</td>
                    <td>
                      {% for pathogen in signal.pathogen.all %}
                        <span class="badge rounded-pill bg-dark">{{ pathogen|title }}</span>
                      {% endfor %}
                    </td>
                    <td>
                      {% if signal.base %}
                        <a href="{% url 'signal' pk=signal.base.id %}">{{ signal.base.id }}</a>
                      {% else %}
                        --/--
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
            {% block pagination %}
              {%include 'pagination.html'%}
            {% endblock %}
          </div>
        </div>

      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="toggled-search-panel">
      <!-- Filters -->
      <div class="card">
        <form method="GET">
          {% csrf_token %}
          <div class="form-group">
            <br>
            <div class="card-body">
              {{ form.search|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.match_substring|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.pathogen|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.active|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.available_geography|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.signal_type|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.category|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.format_type|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.source|as_crispy_field }}
            </div>
            <div class="card-body">
              {{ form.time_label|as_crispy_field }}
            </div>
            <div class="card-body">
              <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary">{% trans "Apply Filters" %}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- End Filters -->

    </div><!-- End Right side columns -->
    <style>
      .clickable-table-row{
          cursor:pointer;
      }
      .is-search-panel-visible .toggled-search-panel{
        width: 35%;
        height: auto;
      }
      .toggled-search-panel{
        width: 0;
        height: 0;
        transition: 0.4s linear;
        overflow: hidden;
      }
      .toggled-search-panel .card{
        opacity: 0;
        transition: 0.3s linear;
      }
      .is-search-panel-visible .toggled-search-panel .card{
        opacity: 1;
      }
      .animated .toggled-search-panel{
        height: auto!important;
      }

      @media (max-width: 1200px) {
        .is-search-panel-visible .toggled-search-panel{
          width: 100%;
          height: auto;
        }
      }
    </style>
    <script>
      (function () {
        "use strict";

        /**
         * Easy selector helper function
         */
        const select = (el, all = false) => {
            el = el.trim()
            if (all) {
                return [...document.querySelectorAll(el)]
            } else {
                return document.querySelector(el)
            }
        }

        /**
         * Easy event listener function
         */
        const on = (type, el, listener, all = false) => {
            if (all) {
                select(el, all).forEach(e => e.addEventListener(type, listener))
            } else {
                select(el, all).addEventListener(type, listener)
            }
        }

        /**
         * Easy on scroll event listener
         */
        const onscroll = (el, listener) => {
            el.addEventListener('scroll', listener)
        }

        // /**
        //  * Search bar toggle
        //  */

        if (select('#toggle-search-panel-btn')) {
          on('click', '#toggle-search-panel-btn', function (e) {
            var body = select('body');
            body.classList.toggle('is-search-panel-visible');

            // Only add the 'animated' class when manually toggling
            if (!body.classList.contains('animated')) {
              body.classList.add('animated');
              setTimeout(function () {
                body.classList.remove('animated');
              }, 400);
            }

            // Save the state to localStorage
            localStorage.setItem('searchPanelState', body.classList.contains('is-search-panel-visible'));
          })
        }

        // Call this function when the page loads
        (function loadSearchPanelState() {
          var body = select('body');
          var savedState = localStorage.getItem('searchPanelState');
          // If there's a saved state, apply it
          if (savedState === 'true') {
            body.classList.add('is-search-panel-visible');
          } else if (savedState === 'false') {
            body.classList.remove('is-search-panel-visible');
          }
        })();
      })()
    </script>
  </div>
</section>

{% endblock %}
