{% load crispy_forms_tags %}

{% for signal in signals %}
    {% if forloop.last and page_obj.has_next %}
        <tr hx-trigger="revealed" class="clickable-table-row" hx-get="{% url 'signals' %}?page={{ page_obj.next_page_number }}{{ url_params_str }}"
            hx-swap="afterend">
    {% else %}
        <tr classs="clickable-table-row">
    {% endif %}
        <td>
            <input type="checkbox" name="id" value="{{ signal.id }}">
            {{ form.id|as_crispy_field }}
        </td>
        <td onClick="location.href='{% url 'signal' pk=signal.id %}';" class="clickable-table-cell">{{ signal.display_name }}</td>
        <td>{{ signal.source }}</td>
        <td>{{ signal.description }}</td>
        <td>
            {% for pathogen in signal.pathogen.all %}
            <span class="badge rounded-pill bg-dark">{{ pathogen|title }}</span>
            {% endfor %}
        </td>
        <td>
            {% if signal.base %}
            <a href="{% url 'signal' pk=signal.base.id %}">{{ signal.base.id }}</a>
            {% else %}
            --/--
            {% endif %}
        </td>
        <td>
            {% if signal.last_updated %}
                {{ signal.last_updated|date:"Y-m-d" }}
            {% else %}
                --/--
            {% endif %}
        </td>
    </tr>

{% endfor %}
