{% for signal in signals %}
    {% if forloop.last %}
        <tr hx-trigger="revealed" class="clickable-table-row" hx-get="{% url 'signals' %}?page={{ page_obj.number|add:1 }}{{ url_params_str }}"
            hx-swap="afterend" onClick="location.href='{% url 'signal' pk=signal.id %}';">
    {% else %}
        <tr classs="clickable-table-row" onClick="location.href='{% url 'signal' pk=signal.id %}';">
    {% endif %}
        <td>{{ signal.display_name }}</td>
        <td>{{ signal.source }}</td>
        <td>{{ signal.description }}</td>
        <td>
            {% for pathogen in signal.pathogen.all %}
            <span class="badge rounded-pill bg-dark">{{ pathogen|title }}</span>
            {% endfor %}
        </td>
        <td>
            {% if signal.base %}
            <a href="{% url 'signal' pk=signal.base.id %}">{{ signal.base.id }}</a>
            {% else %}
            --/--
            {% endif %}
        </td>
        <td>
            Last Updated
        </td>
    </tr>
{% endfor %}