[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
'sentry-sdk[django]' = "*"
coverage = "*"
crispy-bootstrap5 = "*"
django = "*"
django-cors-headers = "*"
django-coverage-plugin = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-docs = "*"
django-extensions = "*"
django-extensions-models = "*"
django-filter = "*"
django-health-check = "*"
django-import-export = "*"
django-redis = "*"
django-stubs = "*"
djangorestframework = "*"
drf-spectacular = "*"
factory-boy = "*"
flower = "*"
gunicorn = "*"
linkpreview = "*"
markdown = "*"
mypy = "*"
mysqlclient = "*"
mysql-connector-python = "*"
pillow = "*"
pre-commit = "*"
pydot = "*"
pyparsing = "*"
python-dotenv = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-django = "*"
sqlalchemy = "*"
types-requests = "*"
tzdata = "*"

[dev-packages]
flake8 = "*"
isort = "*"
pep8 = "*"

[requires]
python_version = "3.10"
