{% extends "index.html" %}

{% load i18n %}

{% block content %}
<div class="pagetitle">
    <h1>Contact</h1>
    <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'signals' %}">Home</a></li>
        <li class="breadcrumb-item active">Contacts</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section contact">

<div class="row gy-4">

    <div class="col-xl">

    <div class="row">
        {% if contacts_info.address %}
            <div class="col-lg-6">
            <div class="info-box card">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3><br>
                <p><a href="https://www.google.com/maps/search/?api=1&query={{ contacts_info.address }}" target="_blank" class="link-secondary">{{ contacts_info.address }}</a></p>
            </div>
            </div>
        {% endif %}
        {% if contacts_info.phone_numbers.exists %}
            <div class="col-lg-6">
            <div class="info-box card">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3><br>
                {% for phone in contacts_info.phone_numbers.all %}
                    <p><a href="tel:{{ phone }}" class="link-secondary">{{ phone }}</a></p>
                {% endfor%}
            </div>
            </div>
        {% endif %}
        {% if contacts_info.emails.exists %}
        <div class="col-lg-6">
        <div class="info-box card">
            <i class="bi bi-envelope"></i>
            <h3>Email Us</h3><br>
            {% for email in contacts_info.emails.all %}
                <p><a href="mailto:{{ email }}" class="link-secondary">{{ email }}</a></p>
            {% endfor%}
        </div>
        </div>
        {% endif %}
        {% if contacts_info.links.exists %}
        <div class="col-lg-6">
        <div class="info-box card">
            <i class="bi bi-link"></i>
            <h3>Links</h3><br>
            {% for link in contacts_info.links.all %}
               <p><a href="{{ link.url }}">{{ link.name }}</a></p>
            {% endfor%}
        </div>
        </div>
        {% endif %}
    </div>

    </div>

    <div class="col-xl-6">
    <div class="card p-4">
        <form action="forms/contact.php" method="post" class="php-email-form">
        <div class="row gy-4">

            <div class="col-md-6">
            <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </div>

            <div class="col-md-6 ">
            <input type="email" class="form-control" name="email" placeholder="Your Email" required>
            </div>

            <div class="col-md-12">
            <input type="text" class="form-control" name="subject" placeholder="Subject" required>
            </div>

            <div class="col-md-12">
            <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
            </div>

            <div class="col-md-12 text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <button type="submit">Send Message</button>
            </div>

        </div>
        </form>
    </div>

    </div>

</div>

</section>
{% endblock %}
