{% extends "error.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>403</h1>
      <h2>You don't have permission to access this resource.</h2>
      <a class="btn" href="{% url 'signals' %}">Back to home</a>
      <img src="{% static 'assets/img/forbidden.svg' %}" class="img-fluid py-5" alt="Forbidden">
    </section>

  </div>
{% endblock %}
