{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Signals | DELPHI</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'img/DELPHI-favicon.svg' %}" rel="icon" />
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="{% static 'https://fonts.gstatic.com' %}" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a href="{% url 'signals' %}" class="d-flex align-items-center navbar-logo"><img src="{% static 'img/CMU-wordmark.svg' %}" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signals' %}">
                <i class="ri-stack-line"></i>
                <span>Signals</span>
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'datasources' %}">
                  <i class="ri-stack-line"></i>
                  <span>Sources</span>
                </a>
              </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Delphi Epidata Tools</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="https://delphi.cmu.edu/covidcast/"><i class="bi bi-graph-up"></i> Delphi Epidata Dashboard</a>
                </li>
                <li>
                  <a class="dropdown-item" href="https://cmu-delphi.github.io/delphi-epidata/"><i class="bi bi-braces"></i> Epidata API</a>
                </li>
                <li>
                  <a class="dropdown-item" href="https://delphi.cmu.edu/covidcast/indicator-status/"><i class="bi bi-bar-chart-line-fill"></i> Indicator Status</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="https://delphi.cmu.edu/covid19/"><i class="bi bi-globe"></i> What is Delphi Epidata</a>
                </li>
                <li>
                  <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLScqgT1fKZr5VWBfsaSp-DNaN03aV6EoZU4YljIzHJ1Wl_zmtg/viewform"><i class="bi bi-envelope"></i> Contact Delphi</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main id="main">
        <div class="container-fluid">
        {% block content %}

        {% endblock %}
        </div>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">About</a>
        </li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>

    <!-- Template Main JS File -->

    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
